
/*-- Hedear --*/

header{
	background: #282828;
    padding-top: 5px;
    	
}


/*
.icons-header{
    margin-top: 12px;

}
*/
.icons-header a{
    color: #dddddd;
    font-size: 24px;

}

.form-control{
    width: 500px;
}
/*
.container{
    height: 120px;
}
*/
/*
.logo-brand{
	height: 120px;
	width: 120px;	
}
*/

.navbar-light .navbar-nav .nav-link {
    color: #dddddd;
}

/*
.navbar-nav {
    
    display: contents;
    
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.form-inline {
    
    display: contents;
    
    flex-flow: row wrap;
    
	align-items: center;
	width: none;
}
*/

/*
.nav-link{
	color: #DDDDDD;
}
*/


/*-- Content --*/

/*-- Footer --*/