
/*-- Hedear --*/

header{
	background: #282828;
    padding-top: 5px;
    	
}

/*
.icons-header{
    margin-top: 12px;

}
*/
.icons-header a{
    color: #dddddd;
    font-size: 24px;

}

/*
.container{
    height: 120px;
}
*/
/*
.logo-brand{
	height: 120px;
	width: 120px;	
}
*/

.navbar-light .navbar-nav .nav-link {
    color: #dddddd;
}

/*
.navbar-nav {
    
    display: contents;
    
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.form-inline {
    
    display: contents;
    
    flex-flow: row wrap;
    
	align-items: center;
	width: none;
}
*/

/*
.nav-link{
	color: #DDDDDD;
}
*/


/*-- Content --*/

footer{
          position: fixed;
          bottom: 0;
          width: 100%;
          background-color: #282828; 
          
        
    }

    footer .col-md-5{
            color: #DDDDDD;
            font -size: 2em;
            position: absolute;
            left: 35%;
            right: 25%;
            top: 0%; 
    }
     .col-md-1{
        width: 65px;
        height: 65px
        left: 25%;
        right: 10%;
        top: 15%; 

    }
    footer .col-md-6{
        color: #DDDDDD;
        font -size: 2em;
        position: absolute;
        left: 90%;
        right: 25%;
        top: 0%; 

    }
    .col-md-6 img{
        width: 45px;
        height: 45px;
    }